@media (max-width: 576px) {
    .wrapper {
        width: calc(100%);
    }
    .wrapper1 {
        width: calc(100%);
    }
    body {
        max-width: 576px;
        display: block;
        background-position: center center;
    }
    .block1 {
        background-image: 100%;
    }
    .header {
        display: none;
    }
    p, span {
        font-size: 10px;
    }
    b {
        font-size: 28px;
    }
    img {
        background-position: center;
        width: 100%;
    }
}

/* Шапка */

@media (max-width: 576px) {
    .first {
        max-width: 576px;
    }
}

/* блокi */
@media (max-width: 576px) {
    .block1 {
        width: 100%;
    }
    p {
        font-size: 10px;
    }
    .mini_img {
        width: 25%;
    }
    .logotype, .mouse {
        width: 25%;
        margin: 0 auto;
    }
    .trio {
        display: block;
        
    }
}

/* Подвал */
@media (max-width: 576px) {
    .footer {
        display: block;
        text-align: center;
        float: none;
        
    }
    .pages {
        width: 100%;
    }
    .sait_info {
        width: 100%;
        margin-top: 200px;
    }
}